* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-spinner-width: 1.3rem !important;
    --bs-spinner-height: 1.3rem !important;
}

nav {
    height: 40px;
    padding: 0 auto;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    min-height: calc(100vh - 4.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #5145ba; */
}

.file-uploader {
    width: 500px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #5145ba;
}

.file-uploader .uploader-header {
    display: flex;
    padding: 20px;
    background: #eef1fb;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.uploader-header .uploader-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.uploader-header .file-completed-status {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.file-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 20px;
    font-size: 1.1rem;
    font-weight: 600;
}

.file-types p, .file-types span {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
}

.file-types ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.file-types li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

.file-types .file-type {
    color: #fff;
    padding: 4px 6px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #5145ba;
    font-size: 0.7rem;
}

.file-uploader .file-list {
    list-style: none;
    width: 100%;
    padding-bottom: 0px;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
    scrollbar-width: thin;
}

.file-uploader .file-list:has(li) {
    padding: 20px;
}

.file-list .file-item {
    display: flex;
    gap: 14px;
    margin-bottom: 23px;
}

.file-list .file-item .file-extension {
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #5145ba;
    font-size: 0.8rem;
}

.file-list .file-item .file-content-wrapper {
    flex: 1;
}

.file-list .file-item .file-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.file-list .file-item .file-name {
    font-size: 1rem;
    font-weight: 600;
}

.file-list .file-item .file-info {
    display: flex;
    gap: 5px;
}

.file-list .file-item .file-info small {
    color: #5c5c5c;
    margin-top: 5px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.file-list .file-item .file-info .file-status {
    color: #5145ba;
}

.file-list .file-item .file-info .file-status.not-allowed {
    color: #e3413f;
}

.file-list .file-item .cancel-button {
    align-self: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.file-list .file-item .cancel-button:hover {
    color: #e3413f;
}

.file-list .file-item .file-progress-bar {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 30px;
    background: #d9d9d9;
}

.file-list .file-item .file-progress-bar .file-progress {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    background: #5145ba;
}

.file-uploader .clear-list {
    display: none;
}

.file-uploader .clear-list.visible {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.file-uploader .clear-list span {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(184, 45, 45);
    cursor: pointer;
    text-decoration: underline;
}

.file-uploader .clear-list span#clear-list {
    color: #6b3fe3;
}

.file-uploader .file-upload-box.hidden {
    display: none;
}

.file-uploader .file-upload-box {
    margin: 10px 20px 20px;
    border: 2px dashed #b1add4;
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.file-uploader .file-upload-box.active {
    border: 2px solid #5145ba;
    background: #fef6ff;
}

.file-uploader .file-upload-box .box-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: #626161;
}

.file-uploader .file-upload-box.active .box-title {
    pointer-events: none;
}

.file-upload-box .box-title .file-browser-button {
    color: #5145ba;
    cursor: pointer;
}

.file-upload-box .box-title .file-browser-button:hover {
    text-decoration: underline;
}

.commence-chat {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.commence-chat #commence-chat {
    display: none;
}

.commence-chat #commence-chat.visible {
    display: flex;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: #5145ba;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
}
.loader,
.loader:before,
.loader:after {
  --c:no-repeat linear-gradient(#046D8B 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  animation: l18-1 1.5s infinite  cubic-bezier(0,0,1,1), l18-2 1.5s infinite;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  animation-timing-function: cubic-bezier(0,0.2,1,1),linear;
}
.loader:after {
  margin: 10px;
  animation-timing-function: cubic-bezier(0,0.4,1,1),linear;
}
@keyframes l18-1 {
  0%,
  10%   {background-size: 0    4px,4px 0 }
  40%,
  60%   {background-size: 100% 4px,4px 100%}
  90%,
  100%  {background-size: 0    4px,4px 0  }
}
@keyframes l18-2 {
  0%,49.9%{background-position: 0    0,0    0,100% 100%,100% 100%}
  50%,100%{background-position: 100% 0,0 100%,0    100%,100% 0}
}

.chat-container {
    width: 80%;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container .chat-header {
    width: 80%;
    display: flex;
    padding: 5px;
    background: #eef1fb;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.files {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px;
}

.uploaded-files {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 0 0;
    list-style: none;
}

.uploaded-files .file {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.uploaded-files .file .extension {
    height: 30px;
    width: 30px;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #5145ba;
    font-size: 0.8rem;
}

.uploaded-files .file .name {
    background: transparent;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
}

.chat-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px auto;
}

.chat-box .chat-text-area {
    width: 80%;
    height: clamp(150px, 50vh, 650px);
    border-radius: 5px;
    border: 1px solid #5145ba;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    resize: none;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.chat-text-area .bot-message, .chat-text-area .user-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-text-area #message-icon {
    font-size: 1rem;
    color: #5145ba;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-text-area .bot-message {
    align-self: flex-start;
    max-width: 60%;
}

.chat-text-area .user-message {
    align-self: flex-end;
    max-width: 60%;
}

.chat-text-area .bot-message span#message {
    background: #eef1fb;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #5145ba;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-text-area .user-message span#message {
    background: #5145ba;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    border: 1px solid #5145ba;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .chat-text-area span#message {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: wrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */


.chat-box .user-input {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.chat-box .user-input #user-input {
    width: 92%;
    border-radius: 5px;
    border: 1px solid #5145ba;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.chat-box .user-input #ask-button {
    width: 8%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #5145ba;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}


/* Supported Files Table */
.table-container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.container-inner {
    width: 50%;
    overflow:hidden;
    overflow-y: scroll;
    height: 60vh;
    scrollbar-color: rgba(81, 69, 186, 0.2) transparent;
    scrollbar-width: thin;
    box-shadow: 0 4px 8px rgba(81, 69, 186, 0.2);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

.table-container table thead {
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-container table thead th {
    padding: 10px;
    text-align: left;
}

.table-container table tbody {
    background: #fff;
    color: #333;
}

.table-container table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table-container table tbody tr:hover {
    background: rgba(81, 69, 186, 0.1);
    color: #333;
    font-weight: 600;
    font-size: 1.3rem;
}

.table-container table tbody tr td {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}