* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-spinner-width: 1.3rem !important;
    --bs-spinner-height: 1.3rem !important;
    --light-color: #6F94AF;
    --medium-color: #557C99;
    --dark-color: #182F52;
    --text-color-primary: #eee;
    --text-color-secondary: #182F52;
    --text-color-danger: #e3413f;
}

body {
    /* background: linear-gradient(var(--light-color), var(--dark-color)); */
    background: var(--dark-color);
}

body.chat-main {
    background: linear-gradient(var(--medium-color), 40%, var(--dark-color));
}

nav {
    height: 80px;
    padding: 5px auto;
    background-color: var(--light-color);
    color: var(--text-color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
}

.nav-logo {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 2px;
    background: var(--dark-color);
}

.nav-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95%;
}

nav small {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color-primary);
}

main {
    min-height: calc(100vh - 80px - 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    /* background: #5145ba; */
}

footer {
    height: 40px;
    background: var(--light-color);
}

footer .contact-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

footer .contact-links .social-icon {
    color: var(--text-color-secondary);
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.file-uploader {
    width: 700px;
    /* background: var(--light-color); */
    background: var(--dark-color);
    color: var(--text-color-primary);
    border-radius: 5px;
    border: 2px solid var(--light-color);
    /* box-shadow: 0 4px 8px var(--light-color); */
}

.file-uploader .uploader-header {
    display: flex;
    padding: 20px;
    background: var(--light-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.uploader-header .uploader-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-color-secondary);
}

.uploader-header .file-completed-status {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color-secondary) !important;
}

.file-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color-primary);
}

.file-types p, .file-types span {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
}

.file-types ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.file-types li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

.file-types .file-type {
    color: var(--text-color-secondary);
    padding: 4px 6px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--light-color);
    font-size: 0.8rem;
    font-weight: 600;
}

.file-uploader .file-list {
    list-style: none;
    width: 100%;
    padding-bottom: 0px;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-color: var(--dark-color) transparent;
    scrollbar-width: thin;
}

.file-uploader .file-list:has(li) {
    padding: 20px;
}

.file-list .file-item {
    display: flex;
    gap: 14px;
    margin-bottom: 23px;
}

.file-list .file-item .file-extension {
    height: 50px;
    width: 50px;
    color: var(--text-color-secondary);
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--light-color);
    font-size: 1rem;
    font-weight: 600;
    /* border: 1px solid var(--dark-color); */
}

.file-list .file-item .file-content-wrapper {
    flex: 1;
}

.file-list .file-item .file-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.file-list .file-item .file-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color-primary);
}

.file-list .file-item .file-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.file-list .file-item .file-info small {
    color: var(--text-color-primary);
    margin-top: 5px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.file-list .file-item .file-info .file-divider {
    font-size: 0.3rem;
}

.bx {
    color: var(--text-color-primary) !important;
}

.file-list .file-item .file-info .file-status {
    color: var(--text-color-primary);
}

.file-list .file-item .file-info .file-status.not-allowed {
    color: var(--text-color-danger);
}

.file-list .file-item .cancel-button {
    align-self: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.file-list .file-item .cancel-button:hover {
    color: var(--text-color-danger);
}

.file-list .file-item .file-progress-bar {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 30px;
    background: #d9d9d9;
}

.file-list .file-item .file-progress-bar .file-progress {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    background: var(--light-color);
    transition: width 0.3s ease-in-out;
}

.file-progress {
    background: var(--light-color) !important;
    height: 10px;
    border-radius: 2px;
}

.file-progress-bar {
    border-radius: 2px;
    height: 10px;
}

.file-uploader .clear-list {
    display: none;
}

.file-uploader .clear-list.visible {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.file-uploader .clear-list.visible #clear-list, .file-uploader .clear-list.visible #delete-files {
    color: var(--text-color-primary);
}

.file-uploader .clear-list span {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color-secondary);
    cursor: pointer;
    text-decoration: underline;
}

.file-uploader .clear-list span#clear-list {
    color: var(--text-color-secondary);
}

.file-uploader .file-upload-box.hidden {
    display: none;
}

.file-uploader .file-upload-box {
    margin: 10px 20px 20px;
    border: 3px dashed var(--light-color);
    border-radius: 5px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.file-uploader .file-upload-box.active {
    border: 2px solid var(--light-color);
    background: var(--light-color);
}

.file-uploader .file-upload-box.active .file-instruction {
    color: var(--text-color-primary);
}

.file-uploader .file-upload-box .box-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--text-color-primary);
}

.file-uploader .file-upload-box.active .box-title {
    pointer-events: none;
}

.file-upload-box .box-title .file-browser-button {
    color: var(--text-color-primary);
    cursor: pointer;
    text-shadow: 0 0 2px var(--light-color);
}

.file-upload-box .box-title .file-browser-button:hover {
    text-decoration: underline;
}

.commence-chat {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid var(--dark-color); */
    background: var(--dark-color);
    height: 0;
}

.commence-chat #commence-chat {
    display: none;
    /* background: transparent; */
}

.commence-chat.visible {
    height: 60px;
    padding: 10px 20px;
}

.commence-chat #commence-chat.visible {
    display: flex;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--light-color);
    color: var(--text-color-secondary);
    font-weight: 600;
    font-size: 1rem;
    /* box-shadow: 0 4px 8px var(--light-color); */
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 60px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
}
.loader,
.loader:before,
.loader:after {
  --c:no-repeat linear-gradient(#046D8B 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  animation: l18-1 1.5s infinite  cubic-bezier(0,0,1,1), l18-2 1.5s infinite;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  animation-timing-function: cubic-bezier(0,0.2,1,1),linear;
}
.loader:after {
  margin: 10px;
  animation-timing-function: cubic-bezier(0,0.4,1,1),linear;
}
@keyframes l18-1 {
  0%,
  10%   {background-size: 0    4px,4px 0 }
  40%,
  60%   {background-size: 100% 4px,4px 100%}
  90%,
  100%  {background-size: 0    4px,4px 0  }
}
@keyframes l18-2 {
  0%,49.9%{background-position: 0    0,0    0,100% 100%,100% 100%}
  50%,100%{background-position: 100% 0,0 100%,0    100%,100% 0}
} */

.loader-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.loader {
  height: 100px;
  aspect-ratio: 1;
  position: relative;
  clip-path: polygon(100% 50%,82.89% 61.97%,88.3% 82.14%,67.5% 80.31%,58.68% 99.24%,43.92% 84.47%,25% 93.3%,23.19% 72.5%,3.02% 67.1%,15% 50%,3.02% 32.9%,23.19% 27.5%,25% 6.7%,43.92% 15.53%,58.68% 0.76%,67.5% 19.69%,88.3% 17.86%,82.89% 38.03%,100% 50%,82.89% 61.97%,73.02% 58.38%,85% 50%,73.02% 41.62%,76.81% 27.5%,62.25% 28.78%,56.08% 15.53%,45.75% 25.87%,32.5% 19.69%,31.23% 34.25%,17.11% 38.03%,25.5% 50%,17.11% 61.97%,31.23% 65.75%,32.5% 80.31%,45.75% 74.13%,56.08% 84.47%,62.25% 71.22%,76.81% 72.5%,73.02% 58.38%,85% 50%);
  animation: l8-0 1.5s linear infinite alternate;
  filter: blur(12px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(#0000 35%,var(--text-color-primary),#0000 65%);
  animation: l8-1 2s linear infinite;
}
@keyframes l8-0 {
  to {clip-path: polygon(100% 50%,96.98% 67.1%,88.3% 82.14%,75% 93.3%,58.68% 99.24%,41.32% 99.24%,25% 93.3%,11.7% 82.14%,3.02% 67.1%,0% 50%,3.02% 32.9%,11.7% 17.86%,25% 6.7%,41.32% 0.76%,58.68% 0.76%,75% 6.7%,88.3% 17.86%,96.98% 32.9%,100% 50%,96.98% 67.1%,85.71% 63%,88% 50%,85.71% 37%,79.11% 25.57%,69% 17.09%,56.6% 12.58%,43.4% 12.58%,31% 17.09%,20.89% 25.57%,14.29% 37%,12% 50%,14.29% 63%,20.89% 74.43%,31% 82.91%,43.4% 87.42%,56.6% 87.42%,69% 82.91%,79.11% 74.43%,85.71% 63%,88% 50%)}
}
@keyframes l8-1 {
  to {rotate: 1turn}
}

h4, #loading-text, #loading-progress {
    color: var(--text-color-primary) !important;
}

#loading-text, #loading-progress {
    font-weight: 600;
}

.sidebar {
    width: 250px;
    height: calc(100vh - 80px - 40px);
    margin: 0;
    justify-self: flex-start;
    position: absolute;
    left: 0;
    background: var(--dark-color);
    border: none;
    /* border: 1px solid var(--light-color); */
}

.chat-container {
    min-width: calc(100vw - 250px);
    height: calc(100vh - 80px - 40px);
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 250px;
}

.chat-container .chat-header {  
    width: 100%;
    display: flex;
    padding: 5px;
    background: transparent;
    color: var(--text-color-primary);
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.files {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    background: var(--dark-color);
    color: var(--text-color-primary);
    border-radius: 5px 5px 0 0;
}

.files #files-heading {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 10px 10px 50px;
    border-bottom: 1px solid var(--light-color);
    /* border-top: 1px solid var(--light-color);; */
    border-radius: 5px 5px 0 0;
    /* padding: 10px 0; */
}

.uploaded-files {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 40px 0 0 0;
    list-style-type: none;
    padding: 0;
}

.uploaded-files .file {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.uploaded-files .file .extension {
    height: 30px;
    width: 30px;
    color: var(--text-color-secondary);
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--light-color);
    font-size: 0.8rem;
    padding: 5px;
}

.uploaded-files .file .name {
    background: transparent;
    color: var(--text-color-primary);
    font-size: 0.85rem;
    font-weight: 600;
}

.chat-box {
    width: 100%;
    height: calc(100vh - 80px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
    position: relative;
}

.chat-box .chat-text-area {
    width: 95%;
    height: clamp(150px, calc(100vh - 150px), 680px);
    border-radius: 15px;
    border: 3px solid var(--dark-color);
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    resize: none;
    background: var(--medium-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.chat-text-area .bot-message, .chat-text-area .user-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-text-area #message-icon {
    font-size: 1rem;
    color: var(--text-color-primary);
    background: var(--dark-color);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.chat-text-area .bot-message {
    align-self: flex-start;
    max-width: 60%;
}

.chat-text-area .user-message {
    align-self: flex-end;
    max-width: 60%;
}

.chat-text-area .bot-message span#message {
    background: var(--light-color);
    color: var(--text-color-secondary);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid var(--dark-color);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* clip-path: polygon(10% 0%, 99.9% 0%, 99.9% 100%, 9.5% 100%, 9.5% 55.8%, 0% 44.5%, 9.9% 38.3%); */
}

.chat-text-area .user-message span#message {
    background: var(--dark-color);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color-primary);
    border: 1px solid #5145ba;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* clip-path: polygon(10% 0%, 99.9% 0%, 99.9% 100%, 9.5% 100%, 9.5% 55.8%, 0% 44.5%, 9.9% 38.3%); */
}



.chat-box .user-input {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 63px;
    /* margin-top: 10px; */
}

.chat-box .user-input #user-input {
    width: 92%;
    border-radius: 15px;
    /* border-left: 5px solid var(--medium-color);
    border-bottom: 5px solid var(--medium-color);
    border-top: 0;
    border-right: 5px solid var(--medium-color); */
    background-color: var(--dark-color);
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color-primary);
    margin: 0 5px;
    outline: none;
}

.chat-box .user-input #user-input:focus {
    border: 2px solid var(--light-color);
    box-shadow: 0 0 5px rgba(81, 69, 186, 0.5);
    transition: all 0.3s ease-in-out;
}

*::placeholder {
    color: var(--text-color-primary) !important;
    opacity: 0.7 !important;
    font-weight: 500 !important;
}

/* .chat-box .user-input input[placeholder] {
    color: var(--text-color-primary) !important;
} */

.chat-box .user-input #ask-button {
    width: 6%;
    height: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    background: var(--dark-color);
    color: var(--text-color-primary);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0 5px;
    /* border-left: 5px solid var(--medium-color);
    border-bottom: 5px solid var(--medium-color);
    border-top: 0;
    border-right: 5px solid var(--medium-color); */
}


/* Supported Files Table */
.table-container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.container-inner {
    width: 50%;
    overflow:hidden;
    overflow-y: scroll;
    height: 60vh;
    scrollbar-color: rgba(81, 69, 186, 0.2) transparent;
    scrollbar-width: thin;
    box-shadow: 0 4px 8px rgba(81, 69, 186, 0.2);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

.table-container table thead {
    background: #333;
    color: var(--text-color-primary);
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-container table thead th {
    padding: 10px;
    text-align: left;
}

.table-container table tbody {
    background: var(--text-color-primary);
    color: #333;
}

.table-container table tbody tr {
    border-bottom: 1px solid var(--text-color-primary);
}

.table-container table tbody tr:hover {
    background: rgba(81, 69, 186, 0.1);
    color: #333;
    font-weight: 600;
    font-size: 1.3rem;
}

.table-container table tbody tr td {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}