<div class="chat-container">
    <div class="chat-header">
        <span>Chat with your documents</span>
    </div>
    <div class="files">
        <span>Files:</span>
        <ul class="uploaded-files"></ul>
    </div>
    <div class="chat-box">
        <div class="chat-text-area">
            <div class="bot-message">
                <span id="message-icon"><i class="fa-solid fa-robot"></i></span>
                <span id="message"></span>
            </div>
        </div>
        <div class="user-input">
            <input type="text" id="user-input" placeholder="Type your message here...">
            <button id="ask-button">Ask</button>
        </div>
    </div>
</div>