<aside class="sidebar">
    <div class="files">
        <span id="files-heading">Uploaded Files</span>
        <ul class="uploaded-files"></ul>
    </div>
</aside>
<div class="chat-container">
    <div class="chat-header">
        <span>Chat with your documents</span>
    </div>
    <div class="chat-box">
        <div class="chat-text-area">
            <div class="bot-message">
                <span id="message-icon"><i class="fa-solid fa-robot"></i></span>
                <span id="message"></span>
            </div>
        </div>
        <div class="user-input">
            <input type="search" id="user-input" placeholder="Type your message here..." spellcheck="false" data-ms-editor="true">
            <button id="ask-button">Ask</button>
        </div>
    </div>
</div>