<link rel="stylesheet" href="../static/css/style.css">
<div class="table-container">
    <div class="container-inner">
        <table>
            <thead><tr><th>Supported File Formats:</th></tr></thead>
            <tbody>
                <tr><td><code>.abw</code><code>.p7s</code></td></tr>
                <tr><td><code>.bmp</code><code>.pbd</code></td></tr>
                <tr><td><code>.csv</code><code>.pdf</code></td></tr>
                <tr><td><code>.cwk</code><code>.png</code></td></tr>
                <tr><td><code>.doc</code><code>.pot</code></td></tr>
                <tr><td><code>.docx</code><code>.ppt</code></td></tr>
                <tr><td><code>.dot</code><code>.pptm</code></td></tr>
                <tr><td><code>.eml</code><code>.pptx</code></td></tr>
                <tr><td><code>.epub</code><code>.prn</code></td></tr>
                <tr><td><code>.et</code><code>.rst</code></td></tr>
                <tr><td><code>.eth</code><code>.rtf</code></td></tr>
                <tr><td><code>.heic</code><code>.sdp</code></td></tr>
                <tr><td><code>.htm</code><code>.svg</code></td></tr>
                <tr><td><code>.html</code><code>.sxg</code></td></tr>
                <tr><td><code>.hwp</code><code>.tiff</code></td></tr>
                <tr><td><code>.jpeg</code><code>.txt</code></td></tr>
                <tr><td><code>.jpg</code><code>.tsv</code></td></tr>
                <tr><td><code>.md</code><code>.xls</code></td></tr>
                <tr><td><code>.mcw</code><code>.xlsm</code></td></tr>
                <tr><td><code>.msg</code><code>.xlsx</code></td></tr>
                <tr><td><code>.mw</code><code>.xml</code></td></tr>
                <tr><td><code>.org</code><code>.zabw</code></td></tr>
            </tbody>
        </table>
    </div>
</div>